* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "JetBrainsMono Nerd Font", Arial;
  text-align: center;
}
.header {
  margin-bottom: 20px;
}
.header h1 {
  color: #2a3d66;
  font-size: 2em;
  margin-bottom: 10px;
}
.header p {
  font-size: 1em;
  color: #666;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.card {
  display: inline-block;
  width: 350px;
  background-color: white;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card h2 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}
.card p {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 8px 12px;
  color: #fff;
  background-color: #2a3d66;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
}
.btn:hover {
  background-color: #1d2c4f;
}
.navbar {
  background-color: #2b3e50;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0 15px;
  font-weight: bold;
}
.navbar .current {
  color: #f0ad4e;
  text-shadow: 0 0 10px #f0ad4e;
}
.navbar .nav-link:hover {
  color: #f0ad4e;
  text-shadow: 0 0 10px #f0ad4e;
}
.left {
  position: absolute;
  left: 10px;
}
.right {
  position: absolute;
  right: 10px;
}
.right1 {
  position: absolute;
  right: 90px;
}
.sep1 {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 85px;
}
.seperator {
  font-weight: bold;
  font-size: 20px;
}
